
<mat-dialog-content>
    <ng-container *ngIf="alumno;else creandoB">
      
      <h3 mat-dialog-title>Editando a {{alumno.nombre}}</h3>
   </ng-container>
   <ng-template #creandoB>
      <h3 mat-dialog-title>Creando Alumno</h3>
   </ng-template>

    <form [formGroup]="formulario">
      
      <mat-form-field class="form-field">
        <mat-label for="nombre">Nombre:</mat-label>
        <input matInput id="nombre" formControlName="nombre"/>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label for="apellido">Apellido:</mat-label>
        <input matInput id="apellido" formControlName="apellido"/>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label for="email">Email:</mat-label>
        <input matInput id="email" formControlName="email"/>
      </mat-form-field>
    </form>
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="" [style.color]="'#aa2200'">Volver</button>
      <button mat-button [mat-dialog-close]="" [disabled]="!formulario.valid"
      (click)="enviarFormulario()">{{estado}}</button>
    </mat-dialog-actions>

</mat-dialog-content>